Repository python-discord/forms-backend, pull requests merged in 2020-12, with the labels that each got.

#11 Create models for questions and forms
  backend/constants.py
  backend/models/__init__.py
  backend/models/form.py
  backend/models/question.py
  poetry.lock
  pyproject.toml
Labels: area: validation

#13 Migrate PyMongo to Motor, model fixes and form creation route
  backend/middleware.py
  backend/models/form.py
  backend/models/question.py
  backend/routes/auth/authorize.py
  backend/routes/forms/discover.py
  backend/routes/forms/index.py
  backend/routes/forms/new.py
  backend/routes/forms/submit.py
  poetry.lock
  pyproject.toml
Labels: area: admin, area: route, area: validation

#16 Add form response schema
  SCHEMA.md
Labels: needs 1 approval

#17 Form responses storing and validation
  backend/constants.py
  backend/models/__init__.py
  backend/models/antispam.py
  backend/models/discord_user.py
  backend/models/form_response.py
  backend/routes/forms/new.py
  backend/routes/forms/submit.py
  poetry.lock
  pyproject.toml
Labels: area: form submission, area: route, area: validation

#23 Create single form fetching endpoint
  backend/models/form.py
  backend/routes/forms/discover.py
  backend/routes/forms/form.py
  backend/routes/forms/index.py
  backend/routes/forms/new.py
Labels: area: route

#24 Fix data sanitization method
  backend/models/form.py
Labels: needs 1 approval

#22 Create route for showing single form response
  backend/routes/forms/response.py
Labels: area: admin, area: form submission, area: route

#26 Create route for returning all form responses
  backend/routes/forms/responses.py
Labels: area: admin, area: form submission, area: route

#35 Use a custom status embed to report workflow status
  .github/workflows/forms-backend.yml
  .github/workflows/status-embed.yml
Labels: area: ci, type: feature

#36 Add DELETE method to response route for form response deleting
  backend/routes/forms/response.py
Labels: area: admin, area: form submission, area: route

#38 Adds Timestamp Field
  SCHEMA.md
  backend/models/form_response.py
  backend/routes/forms/submit.py
Labels: P1, area: form submission, type: feature

#41 Remove DNS blacklist check from form submission
  backend/models/antispam.py
  backend/routes/forms/submit.py
  poetry.lock
  pyproject.toml
Labels: area: form submission, area: validation

#40 Add PATCH method to form endpoint
  backend/routes/forms/form.py
Labels: area: admin, needs 1 approval

#39 Adds Discord Embed on Form Submission
  README.md
  SCHEMA.md
  backend/authentication/user.py
  backend/constants.py
  backend/models/form.py
  backend/routes/forms/index.py
  backend/routes/forms/submit.py
Labels: P2, area: form submission, needs 1 approval, type: feature

#42 Convert user IDs to string to avoid JS bad behaviours
  backend/models/discord_user.py
Labels: area: validation

#43 Modify Patch Behavior
  SCHEMA.md
  backend/constants.py
  backend/models/form.py
  backend/routes/forms/form.py
  backend/routes/forms/index.py
  backend/routes/forms/submit.py
  poetry.lock
  pyproject.toml
Labels: P1, area: admin, type: feature

#44 Create route for adding new admins
  backend/routes/admin.py
Labels: area: admin, area: route

#46 Responses bulk deletion
  backend/routes/forms/responses.py
Labels: area: admin, area: form submission, area: route

#47 Implement Sentry SDK and add Sentry releases
  .github/workflows/forms-backend.yml
  .github/workflows/sentry-release.yml
  Dockerfile
  backend/__init__.py
  backend/constants.py
  backend/routes/index.py
  deployment.yaml
  poetry.lock
  pyproject.toml
Labels: area: ci

#48 Implement optional questions
  backend/models/question.py
  backend/routes/forms/submit.py
Labels: area: form submission

#50 `jwt.encode` returns a string, not a bytestring.
  backend/routes/auth/authorize.py
Labels: area: authentication, type: bug
