Repository python-discord/forms-backend, pull requests merged in 2021-03, with the labels that each got.

#58 Redesign Authentication Process
  README.md
  backend/__init__.py
  backend/authentication/backend.py
  backend/authentication/user.py
  backend/constants.py
  backend/discord.py
  backend/routes/auth/authorize.py
  backend/routes/forms/form.py
  backend/routes/forms/submit.py
  backend/validation.py
  docker-compose.yml
Labels: P0, area: authentication, type: feature

#68 Fixes SameSite For Deploy Previews
  backend/constants.py
  backend/routes/auth/authorize.py
  backend/routes/forms/submit.py
Labels: P0, area: authentication, type: bug

#49 Implement Discord roles assigning for form submissions
  SCHEMA.md
  backend/constants.py
  backend/discord.py
  backend/models/form.py
  backend/routes/forms/submit.py
Labels: P1, area: form submission
